@using RSF.Models
@model Equipo

<br />
<br />
<br />
<br />
<br />
<br />

<table class="table table-hover" style="width: 700px; float: right;">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>#</th>
        </tr>
    </thead>
    @foreach (Equipo equipoo in ViewBag.E)
    {
        <tr>
            <td>@Html.DisplayTextFor(a => equipoo.id)</td>
            <td>@Html.DisplayTextFor(a => equipoo.nombre)</td>
            @{
                Todos nuevooo = new Todos();
                nuevooo.nombre = "#E" + equipoo.id.ToString();
            }
            <td>@Html.ActionLink("VER PARTIDO", "BuscarTodo", "Home", nuevooo, null)</td>
        </tr>
    }
</table>

